:root{
    /* palette */
    --background:#004643;
    --headline:#fffffe;
    --paragraph:#abd1c6;
    --button:#f9bc60;
    --button-text:#001e1d;

    --stroke:#001e1d;
    --main:#e8e4e6;
    --higlight:#f9bc60;
    --secondary:#abd1c6;
    --tertiary:#e16162;

    /* fonts */

    --primary-font:5rem;
    --secondary-font:3.6rem;
    --tertiary-font:1.2rem;

}


*{
    color: #001e1d;
    font-family: 'Overpass Mono', monospace;
}

html{
    /* tip para trabajar con rem */
    font-size: 62.5%;
    background-color: var(--background);
}

body{
    /* tip para trabajar con rem */
    font-size: 16px;
    background-color: var(--headline);
}


.titulo{
    text-align: center;
    font-size: var(--primary-font);
    
}

.titulo span{
    font-size: var(--secondary-font);
    border-top: 3px solid black;
    border-top-left-radius: 0%;
    border-right: 3px solid black;
    border-top-right-radius: 25%;
    padding: 3px 3px 0 0 ;
}



/* NAVEGACION */

.navigation-principal{
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

@media (min-width: 480px){
    .navigation-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px){
    .navigation-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navigation-principal a{
    padding: 2rem;
    text-decoration: none;
    font-size: var(--secondary-font);
    font-weight: bold;

}

.navigation-principal a:hover{
    color: var(--headline);
    background-color: var(--higlight);
}

.nav-bg{
    background-color: var(--background);
}


.container{
    max-width: 120rem;
    margin: 0 auto;
    
}



/* landing zone */


.landing{
    background-image: url('../assets/green-flow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-container h2{
    color: var(--headline);
    text-align: center;
    padding-top: 3rem;
}

@media (min-width: 1280px){
    .landing-container h2{
        font-size: 4rem;
    }   
}

.landing-container p{
    color: var(--headline);
}

.landing-container p svg{
    background-color: transparent;
    
}